Source: scribe-server-hdfs-orig
Section: unknown
Priority: extra
Maintainer: Platform Engineering <platform-engg@inmobi.com>
Build-Depends: debhelper (>= 7), autotools-dev, libthrift-dev, libfb303, libboost-system-dev, libboost-filesystem-dev, libc6-dev, libstdc++6-4.4-dev, libevent-dev, libhdfs0-dev, thrift-compiler
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: scribe-server-hdfs-orig
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: scribe server with HDFS support, installs in /usr
 <insert long description, indented with spaces>
