#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_configure:
	[ -f configure ] || ./bootstrap.sh
	LDFLAGS="-L/usr/lib/jvm/java-6-openjdk/jre/lib/amd64/server/" CPPFLAGS="-I/usr/lib/jvm/java-1.6.0-openjdk/include" LIBS="-lboost_thread-mt" $(CURDIR)/configure --prefix=/usr --sysconfdir=/etc --localstatedir=/var --with-thriftpath=/usr --with-fb303path=/usr --enable-hdfs --with-hadooppath=/usr

%:
	dh  $@
