Package: databus
Version: 1.3.0
Section:  misc
Priority: high
Architecture: all
Pre-Depends: sun-java6-jre | java2-runtime
Maintainer: Inmobi (data-pipeline@inmobi.com)
Description: Databus is a distributed, highly available log processing platform
Distribution: alpha
